.mission-img {
  opacity: 1 !important;
  background-image: url("/images/duy2.jpg");
}

.gallery-img {
  opacity: 1 !important;
  background-image: url("https://aazztech.com/demos/themes/html/martplace/dist/images/galbg.jpg");
}