.logo-style {
  transform: scale(0.6) translateX(-35%);
}

svg.fa-star, svg.fa-star-half-alt {
  color: #ffc000;
}

.author-info .rating {
  font-size: 20px;
}

/* For upload image */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.img-upload{
  width: 25%;
}

input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 80px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 5px 10px 0;
}
.remove {
  display: block;
  background: #2B79EA;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}
.remove:hover {
  background: #1a56ad;
  color: white;
}

.num-imgs-chosen {
  height: 50px;
  max-width: 230px;
  cursor: not-allowed;
}